[*.cs]

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = suggestion

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = none

# CS0628: New protected member declared in sealed type
dotnet_diagnostic.CS0628.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = silent
